.Pokedex-card-container {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Pokedex-title {
    text-align: center;
    color: black;
}

.Pokedex-winner {
    color: green;
}

.Pokedex-loser {
    color: red;
}

.Pokedex-message {
    text-align: center;
}